header {
  text-align: center;
  color: orange;
  font-size: 40px;
  font-family: Abril Fatface;
  font-style: italic;
  background: white;
  opacity: 0.85;
  text-shadow: 2px 2px white;
}

body {
  margin: 0 auto;
  background-image: url("http://datcmedia.com/eslagowski/json-mustache/basketball.jpg");
  background-size: cover;
  text-shadow: 1px 1px white;

}

#messages {
  text-align: center;
  clear: both;
  font-size: 30px;
  color: red;
  font-family: Abril Fatface;
}

#gifCentral {
  text-align: center;
  width: 50%;
  height: 300px;
  position: static;
  margin-left: 360px;
  margin-bottom: -50px;
}

#missed, #made {
 display: none;
 text-align: center;
 max-height: 300px;
 width: auto;
 right: 300px;
 border-radius: 10px;
 opacity: 0.85;
}


#playerlist {
  text-align: center;
  clear: both;
  height: 80px;
  width: 50%;
  margin-left: 330px;
  margin-bottom: 50px;
  background: #FA8320;
  font-family: Abril Fatface;
  border-radius: 10px;
  opacity: 0.85;
}

#playersToChoose {
  width: 200px;
  height: 300px;
}

#player1 {
  float: left;
  text-align: center;
  background: #FA8320;
  width: 15%;
  height: 220px;
  margin-left: 25px;
  padding: 5px;
  border-radius: 10px;
  font-family: Abril Fatface;
  opacity: 0.85;
}

#player2 {
  float: right;
  text-align: center;
  background: #FA8320;
  width: 15%;
  height: 220px;
  margin-right: 25px;
  padding: 5px;
  border-radius: 10px;
  font-family: Abril Fatface;
  opacity: 0.85;
}


