header {
  text-align: center;
  color: orange;
  font-size: 40px;
  font-family: Abril Fatface;
  font-style: italic;
  background: black;
  text-shadow: 2px 2px white;
}

body {
  margin: 0 auto;
  background-image: url("http://www.westcoasttrustsestates.com/files/2015/04/I-Stock-Basketball-Court.jpg");
  background-size: cover;
  text-shadow: 1px 1px white;

}

#messages {
  text-align: center;
  font-size: 30px;
  color: orange;
  font-family: Abril Fatface;
}

#gifCentral {
  text-align: center;
  height: 330px;
  width: 500px;
  margin-left: 450px;
}

#missed {
 /* height: 100px;
  width: 150px;*/
  /*border-radius: 8px;*/
}


#playerlist {
  text-align: center;
  height: 100px;
  width: 50%;
  margin-left: 300px;
  background: orange;
  font-family: Abril Fatface;
}

#playersToChoose {
  width: 200px;
  height: 300px;
}

#player1 {
  float: left;
  text-align: center;
  background: orange;
  width: 35%;
  height: 200px;
  margin: 100px 50px;
  padding: 20px;
  border-radius: 10px;
  font-family: Abril Fatface;
}

#player2 {
  float: left;
  text-align: center;
  background: orange;
  width: 35%;
  height: 200px;
  margin: 100px 50px;
  padding: 20px;
  border-radius: 10px;
  font-family: Abril Fatface;
}

#player1Shot {

}

#player2Shot {

}
